@font-face {
    font-family: "Open_sans", sans-serif;
    src: url(Fonts/OpenSans-VariableFont_wdth,wght.ttf);
  }
html{
    font-family: "Open_sans", sans-serif;
    height: 100%;
    width: 100%;
}
.icon {
    width: 127px;
    height: 99px;
    border-radius: 87px;
    margin-left: 20px; 
    margin-top: 8px;
    position: fixed;
}
.header {
    height: 115px   ;
    width: 100%;
    background-color: rgb(86, 109, 42); 
    top: 0px;
}
button {
    border-radius: 87px;
    background-color: white;
    border: 1px;
    font-family: "Open_sans", sans-serif;
    cursor: pointer;
    padding: 5px;
    margin: 5px;
}
.enter {
    right: 0px;
    position: fixed;
    margin-top: 54px;
    margin-right: 20px;
    padding: 5px;
}
.dishmenu {
    margin-top: 54px;
    margin-left: 170px;
    position: fixed;
    padding: 5px;
}
.Booking {
    position: fixed;
    margin-top: 54px;
    margin-left: 250px;
    padding: 5px;
}
.footer {
    height: 10%;
    width: 100%;
    background-color: rgb(86, 109, 42);
    position: fixed;
    bottom: 0px;
    left: 0px;
}
.tel {
    margin-top: 54px;
    position: fixed;
    margin-left: 30px;
}
.adr {
    margin-top: 54px;
    position: fixed;
    left: 1120px;

}
.work {
    margin-top: 54px;
    position: fixed;
    right: 0px;
    margin-right: 30px;
}
.content {
    width: 100%;
    height: 860px;
}
.mainimg {
    width: 100.33%;
    left: 0px;
    position: fixed;
}
.imgmainslider {
    width: 93%;
    height:  1200px;
    position: fixed;
    top: 123px;
    margin-left: 85px;
}
.headerimg {
    position: fixed;
    width: 100%;
    height: 125px;
    top: 0px;
    left: 0px;
}
.back {
    background-color: white;
    position: fixed;
    left: 100px;
    top: 650px;
    height: 40px;
    width: 40px;
}

.next {
    background-color: white;
    position: fixed;
    right: 100px;
    top: 650px;
    height: 40px;
    width: 40px;
}
.mainslide1 {
    position: fixed;
    left: 915px;
    top: 200px;
}
.mainslide2 {
    position: fixed;
    top: 200px;
    left: 200px;
}
.mainslide3 {
    position: fixed;
    top: 200px;
    right: 200px;
}

button:active {
    box-shadow: 7px 6px 28px 1px rgba(0, 0, 0, 0.24);
    transform: translateY(4px);
    transform: scale(0.98);
    box-shadow: 3px 2px 22px 1px rgba(0, 0, 0, 0.24);
}
.wall {
    width: 93%;
    height:  1086px;
    position: fixed;
    top: 123px;
    left: 85px;
    background-color: rgb(86, 109, 42);
    border-radius: 87px;
}

.menuslide1 {
    position: fixed;
    left: 915px;
    top: 200px;
}
.menuslide2 {
    position: fixed;
    top: 200px;
    left: 200px;
}
.menuslide3 {
    position: fixed;
    top: 200px;
    right: 200px;
}
.wallbooking {
    width: 38%;
    height:  400px;
    position: fixed;
    top: 400px;
    left: 750px;
    background-color: rgb(86, 109, 42);
    border-radius: 87px;
    align-content: center;
}

input {
    border-radius: 5px;
    border: 1px;
    margin: 7px;
    height: 30px;
    width: 80%;
    margin-left: 80px;
}
.Bookingtext {
    margin-left: 400px;
}
.Bookingtextreg {
    margin-left: 430px;
}
.bookingbutton {
    margin-left: 800px;
    padding: 5px;
}
.enterback {
    height: 1310px;
    background-color: rgb(33, 50, 1);
}
.anoent { 
   margin-left: 330px;
}
.anoreg {
    text-align: center;
    margin-top: 0px;
}

.profile{
    right: 20px;
    position: fixed;
    top: 54px;
    right: 20px;
    padding: 5px;
    height: 40px;
    width: 40px;
}

.Data {
    position: fixed;
    border-radius: 87px;
    height: 900px;
    width: 20%;
    top: 200px;
    left: 50px;
    background-color: rgb(86, 109, 42);
    text-align: center;
}

.Bookingacc {
     position: fixed;
    border-radius: 87px;
    height: 900px;
    width: 70%;
    top: 200px;
    left: 700px;
    background-color: rgb(86, 109, 42);
    text-align: center;
}

.sucbookingtext {
   margin-left: 20px;
}

.exit {
    background-color: rgb(255, 0, 0);
    padding: 5px;
    
}

.edit {
    position: fixed;
    bottom: 130px;
    right: 130px;
}

.vertical {
    border: 0;
    margin: 0;
    border-left: 5px solid blue;
    height: 200px;
    float: left;
}

table {
  width: 650px;
  border-top: 2px solid rgb(0, 0, 0);
  border-collapse: collapse;
  text-align: center;
  border: 2px solid #dddddd;

}

td {
  text-align: center;
	padding: 10px;
	border: 2px solid rgb(0, 0, 0);
}
 th {
  text-align: center;
  padding: 10px;
	border: 2px solid rgb(0, 0, 0);
 }

 .tables {
    display: flex;
    width: 38%;
    height:  400px;
    position: fixed;
    top: 400px;
    left: 750px;
    background-color: rgb(86, 109, 42);
    align-content: center;
    justify-content: center;
    align-items: center;
}

.items {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  user-select: none;
}

.items .item {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 800px;
  height: 1050px;

  overflow: hidden;
  transition: all 300ms ease-in-out;
  z-index: -1;
  opacity: 0;
}

.item img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.item.active {
  opacity: 1;
  z-index: 99;
  box-shadow: 0px 0px 105px -35px rgba(0, 0, 0, 0.75);
}

.item.prev {
  z-index: 2;
  opacity: 0.25;
  transform: translate(-125%, -50%);
}

.item.next {
  z-index: 2;
  opacity: 0.25;
  transform: translate(25%, -50%);
}

.items .button-container {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-1000px, -50%);
  width: 275px;
  z-index: 100;
}

.button-container .button {
  color: #fff;
  font-size: 32px;
  cursor: pointer;
  position: relative;
  opacity: 0.75;
  transition: all 300ms ease-in-out;
}

.button-container .button:hover {
  opacity: 1;
}

.button-container .button:before {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 50px;
  height: 50px;
  background-color: rgba(255, 255, 255, 1);
  border-radius: 50%;
  z-index: -99;
}

.button-container .button:nth-child(1) {
  float: left;
}

.button-container .button:nth-child(2) {
  float: right;
  position: fixed;
  right: -1730px;
}

.leftb {
    color: black;
}
.rightb {
    color: black;
}